
/dist
/tmp
/out-tsc
/bazel-out
/node_modules
npm-debug.log
yarn-error.log
/.angular/cache
.sass-cache/


**/bin/
**/obj/
**/bookquoteapp.db
**/appsettings.Development.json


.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates


.DS_Store
Thumbs.db
*.tmp


**/dist/
**/wwwroot/