# Angular
/dist
/tmp
/out-tsc
/bazel-out
/node_modules
npm-debug.log
yarn-error.log
/.angular/cache
.sass-cache/

# .NET
**/bin/
**/obj/
**/appsettings.Development.json

# SQLite database files
*.db
*.db-shm
*.db-wal

# Visual Studio / VS Code
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# OS files
.DS_Store
Thumbs.db
*.tmp

# Build outputs
**/dist/
**/wwwroot/